*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E1E1E1;
}
.home{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    height: 99vh;
    font-family: 'DM Serif Display', serif;
}
.heading{
    align-self: center;
}
.img > img{
    align-self: center;
    height: 542.6px;
    margin-left: 130px;
}
.img{
    align-self: center;
}
h1{
    font-size: 52px;
    text-align: center;
    color: #324241;
}
h2{
    font-size: 95px;
    text-align: center;
    color: #811F2C;
}
.heading > p{
    color: #324241;
    font-size: 20px;
    text-align: center;
    /* font-weight: bold; */
}
.about{
    display: inline-flex;
    height: 80vh;
    width: 100%;
    font-family: 'Bree Serif', serif;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 20vh;
}
.ask{
    background-color: #811F2C;
    width: 45%;
    height: 317.2px;
    display: flex;
    justify-content: center;
}
h3{
    align-self: center;
    color: #E1E1E1;
    font-size: 50px;
}
.info > p{
    margin: 0px 60px;
    margin-left: 150px;
    font-size: 27px;
    /* align-items: center; */
}
.kgs{
    color: #811F2C;
    font-size: 2.2rem;
}
.web-dev{
    color: #811F2C;
    font-size: 2.2rem;
}
.gd{
    color: #811F2C;
    font-size: 2.2rem;
}
.bug{
    padding-bottom: 50px;
}
.hobby{
    font-family: 'DM Serif Display', serif;
}
h4{
    text-align: center;
    font-size: 60px;
    color: #324241;
}
.love{
    font-size: 80px;
    position: relative;
    top: 5px;
    color: #811F2C;
    z-index: 100;
    background-image: url(./images/heart.png);
    background-repeat: no-repeat;
  /* background-position: center center; */
  background-position: center 60%;
  background-size: cover;
  padding: 20px;
  background-size: 380px;
}
img[src="./images/heart.png"]{
    height: 200px;
    position: relative;
    bottom: 160px;
    left: 787px;
}
/* swim fb */
.swim{
    display: inline-flex;
    margin-top: 80px;
}
/* items of it */
img[src="./images/izaan swimming.gif"]{
    height: 250px;
    width: 390px;
    margin-left: 150px;
    /* border: solid 20px #324241; */

}
.swim-des{
    margin: 0px 250px;
    align-self: center;
    font-size: 23px;

}
.bug2{
    color: #811F2C;
}
.snooker{
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 150px;
}
img[src="./images/izaan snooker.jpeg"]{
    height: 250px;
    width: 390px;
    margin-right: 200px;

}
.snooker-des{
    margin-right: 220px;
    align-self: center;
    font-size: 23px;
    margin-left: 270px;
}
.photo{
    color: #811F2C;
}
/* mid slide */
.work{
    margin: 300px 0px;
}
/* last slide */
img[src="./images/contact izaan.png"]{
height: 450px;
z-index: 200;
}
.contact-head{
    display: flex;
    justify-content: center;
}
.contact-top{
    display: inline-flex;
    flex-direction: column;

}
h6{
    text-align: center;
    font-size: 70px;
    font-family: 'DM Serif Display', serif;
color: #811F2C;
}
.icon{
    height: 85px;
    margin-right: 8px;
    position: relative;
    bottom: 4px;
}
.contact1{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 200px;
    font-size: 30px;
    align-items: center;
    font-family: 'DM Serif Display', serif;
}
.number{
    margin-right: 400px;

}
img[src="./images/linkedin.png"]{
margin-left: 400px;
}
.contact2{
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'DM Serif Display', serif;
align-items: center;
font-size: 30px;


}
.gmail{
margin-right: 70px;

}
img[src="./images/insta.png"]{
margin-left: 70px;
}
.contact1 > a{
    text-decoration: none;
    color: #811F2C;
}
.contact2 > a{
    text-decoration: none;
    color: #811F2C;
    /* color: #324241; */
}
.bug10{
    display: inline-flex;
    justify-content: center;
}
h5{
    text-align: center;
    font-size: 60px;
    color: #811F2C;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 50px;

}
.ok{
    font-size: 80px;
    color: #324241;
/* padding-top: 10px; */
position: relative;
top: 5px;
}
img[src="./images/graphic.png"]{
    height: 250px;
}
.contact-info{
    margin-bottom: 150px;
}